body {
 background-color: lightblue;   
}

#nav {
    width: 900px;
    height: 60px;
    margin-top: -5px;
}

#nav a {
    width: 225px;
    height: 45px;
    display: inline-block;
    float: left;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    padding-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#nav a:hover {
    background-color: lightskyblue;
    text-decoration: underline;
}

.container { 
    background-color: lightgreen;
    width: 930px; 
    height: 500px; 
    border: solid white 5px;
    margin-top: 20px;
}


.text {
    float: left;
    width: 400px; 
    height: 500px;
    text-align: left;
    padding: 0px 15px;
}

h2 { 
    font-size: 35px;
    color: white;
    font-family: "Protest Riot", sans-serif;

}    

p {
    margin-top: -10px;
    font-size: 25px;
    color: white;
    font-family: "Protest Riot", sans-serif;

}

img {
    width: 495px;
    height: 500px;
    border-left: solid white 5px;
}

    h3 {
    font-family: "Allura", cursive;
    font-size: 60px;
    color: white; 
    text-shadow: 1px 1px black;
}

h4 {
    font-family: "Allura", cursive;
    font-size: 40px;
    color: white; 
}

hr {
    width: 25%;
    margin-top: -30px;
    border: 1px solid white;
}

#footer {
    padding-top: 50px;
}